# Python
__pycache__/
*.pyc

# Env / secrets
.env
*.env

# Virtual environment
cag_env310/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
# Python
__pycache__/
*.pyc

# Env / secrets
.env
*.env

# Virtual environment
cag_env310/
venv/

# Generated data

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

